{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>
	<div class="MatchAreaForMatch">
		<div class="PayoutDiv" id="PayoutDiv">
		  	<div class="PayoutRealDiv">
		  		<center><i class="fa fa-chevron-circle-down ClosePayoutDiv"></i>
				<div class="PayoutDivHeaderContainer">
					<h3 class="PayoutHeader">Prize break-up</h3>
				</div>
				<hr style="width:95%;border-color:#F3F4F4"></center>
				<div class="PayoutDivInfoContainer">
				</div>
				<hr style="width:95%;border-color:#F3F4F4"></center>
				<div class="PayoutDivContestTypes">
				</div>
		  	</div>
		</div>
		<div class="TeamPreviewContainer">
			<center>
				<i class="fa fa-chevron-circle-down CloseTeamPreviewContainer"></i>
				<hr style="border-color:white;width:80%;">
			</center>
			<div class="AllPlayers">
				<div class="KeepersPreview">
				</div>
				<div class="BatsmenPreview">
				</div>
				<div class="AllrounderPreview">
				</div>
				<div class="BowlerPreview">
				</div>
				<div class="CaptainVicePrivew">
					<div class="PlayerView" style="width: 25%;">
						<span class="PlayerNameView">Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
					<div class="PlayerView" style="width: 25%;">
						<span class="PlayerNameView">Vice Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
				</div>
				<input type="hidden" value={{match_obj.match_slug}} id="match_slug">
				<input type="hidden" slug={{contest_obj.contest_slug}} id="CS">

		    </div>
		</div>


		<div class="MessageContainer">
			<center>
				<i class="fa fa-chevron-circle-down CloseMessageContainer"></i>
				<hr style="border-color:white;width:80%;">
				<div class="row MessageDiv">
					<div class="Message Hello" go-to="{% url 'cricket_center:message' %}" message="1" >Hello!</div>
					<div class="Message Hi" go-to="{% url 'cricket_center:message' %}" message="2" >Hi!</div>
					<div class="Message GoodBye" go-to="{% url 'cricket_center:message' %}" message="3" >Good Bye.</div>
					<div class="Message NiceToMeet" go-to="{% url 'cricket_center:message' %}" message="4">Nice to Meet you!</div>
					<div class="Message GoodLuck" go-to="{% url 'cricket_center:message' %}" message="5" >Good Luck!</div>
					<div class="Message IWon" go-to="{% url 'cricket_center:message' %}" message="6" >I Won!</div>
					<div class="Message ILose" go-to="{% url 'cricket_center:message' %}" message="7">I Lose!</div>
					<div class="Message TooClose" go-to="{% url 'cricket_center:message' %}" message="8">Too Close.</div>
					<div class="Message WellPlayed" go-to="{% url 'cricket_center:message' %}" message="9">Well Played!</div>
					<div class="Message SameCaptain" go-to="{% url 'cricket_center:message' %}" message="10">Same Captain!</div>
				</div>
				<hr style="border-color:white;width:80%;">
			</center>
			<div class="MessagesDiv"></div>
		</div>


      <div class="OwnMatchCard">
	  	<h4 class="ContentHeaderTeams">{{match_obj.team_one}} vs {{match_obj.team_two}}<a href="{% url 'cricket_center:cricket_center' %}" style="text-decoration: none;color:#F3F4F4">[GO BACK]</a><span style="float:right">{{match_obj.match_status}}</span></h4>
	  </div>
	  <div class="ContestInfoCard">
	  	<h5 class="ContestNameOfContestInfoCard LeagueName" pay-view="{% url 'cricket_center:view_payout' contest_slug=contest_obj.contest_slug %}">{{contest_obj.contest_name}}<span> &nbsp;<i class="fa fa-eye" style="position:relative;top:2px;"></i></span></h5>
	  	<div class="ContestInfoHeaderContainer">
	  		<h6 class="InfoHeaderOfContestInfoCard">Fee</h6>
	  		<h6 class="InfoHeaderOfContestInfoCard">Joined</h6>
	  		<h6 class="InfoHeaderOfContestInfoCard">Prize</h6>
	  	</div>
	  	<div class="ContestInfoHeaderContainer">
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.contest_fee}}</h6>
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.total_player_joined}}/{{contest_obj.contest_size}}</h6>
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.contest_prize}}</h6>
	  	</div>
	  </div>
	  <div>
		  <div class="RankingHeader">
		  	<h6 class="RankingHeaderRankPosition">RANK</h6>
		  	{% if not match_obj.live %}
			    <h6 class="RankingHeaderTeam">TEAM</h6>
		  	{% else %}
		  		<h6 class="RankingHeaderTeam">TEAM</h6>
		  	{% endif %}
		  	<h6 class="RankHeaderPointsLive">POINTS</h6>
		  </div>
		  {% for rank in user_teams_list %}
		    <div class="RankInfoCard" style="background-color:#C0C0C0;" go-to="{% url 'cricket_center:ranking_team_preview' team_no=rank.joined_user_team team_name=rank.joined_user match_slug=match_obj.match_slug %}">
		  		{% if match_obj.history_activate %}
		  			<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
				  	<h6 class="RankingHeaderIfTeam">{{rank.joined_user}}[{{rank.joined_user_team}}]</h6>
				  	{% if rank.rank <= contest_obj.contest_winners %}
					  <h6 class="RankingHeaderStatus"><img src="{% static "images/winners.jpg" %}" width="16%" class="img-responsive WinningImg"> <span class="RepeeSymbol">₹</span>{{rank.winnings}}</h6>
				  	{% else %}
					  <h6 class="RankingHeaderStatus"></h6>
				  	{% endif %}
				  	<h6 class="RankHeaderPointsActual">{{rank.total_team_points}} <span style="float:right">&nbsp;{% if rank.last_rank > rank.rank %}&nbsp;&nbsp;<i class="fa fa-caret-up" style="font-size:20px;color:green"></i>{% elif rank.rank > rank.last_rank %}&nbsp;&nbsp;<i class="fa fa-caret-down" style="font-size:20px;color:red"></i>{% elif rank.rank is rank.last_rank %}<i class="fa fa-caret-up fa-rotate-270" style="font-size:20px;color:orange"></i><i class="fa fa-caret-up fa-rotate-90" style="font-size:20px;color:orange"></i></span>{% endif %}</h6>
		  		{% else %}
		    		<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
				  	<h6 class="RankingHeaderTeam">{{rank.joined_user}}[{{rank.joined_user_team}}]</h6>
				  	<h6 class="RankHeaderPointsActual">{{rank.total_team_points}} <span style="float:right">&nbsp;{% if rank.last_rank > rank.rank %}&nbsp;&nbsp;<i class="fa fa-caret-up" style="font-size:20px;color:green"></i>{% elif rank.rank > rank.last_rank %}&nbsp;&nbsp;<i class="fa fa-caret-down" style="font-size:20px;color:red"></i>{% elif rank.rank is rank.last_rank %}<i class="fa fa-caret-up fa-rotate-270" style="font-size:20px;color:orange"></i><i class="fa fa-caret-up fa-rotate-90" style="font-size:20px;color:orange"></i></span>{% endif %}</h6>
				{% endif %}
		    </div>
		  {% endfor %}
		  {% for rank in all_joined_with_ranking %}
		  	<div class="RankInfoCard" go-to="{% url 'cricket_center:ranking_team_preview' team_no=rank.joined_user_team team_name=rank.joined_user match_slug=match_obj.match_slug %}">
		  		{% if match_obj.history_activate %}
		  			<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
				  	<h6 class="RankingHeaderIfTeam">{{rank.joined_user}}[{{rank.joined_user_team}}]</h6>
				  	{% if rank.rank <= contest_obj.contest_winners %}
					  <h6 class="RankingHeaderStatus"><img src="{% static "images/winners.jpg" %}" width="16%" class="img-responsive WinningImg"> <span class="RepeeSymbol">₹</span>{{rank.winnings}}</h6>
				  	{% else %}
					  <h6 class="RankingHeaderStatus"></h6>
				  	{% endif %}
				  	<h6 class="RankHeaderPointsActual">{{rank.total_team_points}} <span style="float:right">&nbsp;{% if rank.last_rank > rank.rank %}&nbsp;&nbsp;<i class="fa fa-caret-up" style="font-size:20px;color:green"></i>{% elif rank.rank > rank.last_rank %}&nbsp;&nbsp;<i class="fa fa-caret-down" style="font-size:20px;color:red"></i>{% elif rank.rank is rank.last_rank %}<i class="fa fa-caret-up fa-rotate-270" style="font-size:20px;color:orange"></i><i class="fa fa-caret-up fa-rotate-90" style="font-size:20px;color:orange"></i></span>{% endif %}</h6>
		  		{% else %}
		    		<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
				  	<h6 class="RankingHeaderTeam">{{rank.joined_user}}[{{rank.joined_user_team}}]</h6>
				  	<h6 class="RankHeaderPointsActual">{{rank.total_team_points}} <span style="float:right">&nbsp;{% if rank.last_rank > rank.rank %}&nbsp;&nbsp;<i class="fa fa-caret-up" style="font-size:20px;color:green"></i>{% elif rank.rank > rank.last_rank %}&nbsp;&nbsp;<i class="fa fa-caret-down" style="font-size:20px;color:red"></i>{% elif rank.rank is rank.last_rank %}<i class="fa fa-caret-up fa-rotate-270" style="font-size:20px;color:orange"></i><i class="fa fa-caret-up fa-rotate-90" style="font-size:20px;color:orange"></i></span>{% endif %}</h6>
				{% endif %}
		    </div>
		  {% endfor %}
		  {% if contest_obj.cancelled %}
    	  	<center><h6 class="RefundInfo">This contest is not filled, so it will be cancelled and all your fee will be refunded.</h6></center>
	      {% endif %}
	  </div>
  	  <div class="footer">
		<a href="{% url 'cricket_center:cricket_center' %}">
			<button class="btn FooterInfoLeft">
				Match Center
			</button>
		</a>
		<a href="#">
			<button class="btn FooterInfoRight" id="MessageButton">
				Messages
			</button>
		</a>
	  </div>
  	</div>

{% endblock %}

{% block other_page_script %}
<script src="{% static 'js/cricket_center/rankings.js' %}"></script>
{% endblock %}
