{% extends "cricket_center_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        <center>
          <p class="ProfileContent">SET A NEW PASSWORD</p>
        </center>
    </div>
    {% if validlink %}
        <form method="POST" class="container">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        
        {{ form.new_password1.label_tag }}
        <div class="input_field"></span>         
            {% render_field form.new_password1 class="form-control" %}
        </div>
        {{ form.new_password1.errors }}
        
        {{ form.new_password2.label_tag }}
        <div class="input_field"></span>         
            {% render_field form.new_password2 class="form-control" %}
        </div>
        <center><button type="submit" class="btn btn-success" style="margin-top:15px;">Change Password</button></center>
        {{ form.new_password2.errors }}

        </form>
    {% else %}
        <center><a href="{% url 'IndexView' %}"><button class="btn btn-danger" style="margin-top:15px;">Invalid Link! Please return to Home!</button></a></center>
    {% endif %}
    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><button class="btn MainPageFooter">
        Go to Home
      </button></a>
    </div>
  </div>
{% endblock %}
