{% extends "cricket_center_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% comment %} {% extends 'cricket_center_base.html' %}


{% block other_page_content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Reset your password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Send confirmation link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% endcomment %}


{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        <center>
          <p class="ProfileContent">RESET PASSWORD</p>
        </center>
    </div>
    {% comment %} <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Send confirmation link</button>
    </form> {% endcomment %}
    <p style="margin:15px;content:justify;">Enter the email address that is linked to your account. We will send you a confirmation link to reset the password.</p>
    <form method="POST" class="container">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.source.errors }}
      {{ form.source }}
      
      {{ form.email.label_tag }}
      <div class="input_field"></span>         
        {% render_field form.email class="form-control" %}
      </div>
      <center><button type="submit" class="btn btn-success" style="margin-top:15px;">Send confirmation link</button></center>
      {{ form.email.errors }}

    </form>

    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><button class="btn MainPageFooter">
        Go to Home
      </button></a>
    </div>
  </div>
{% endblock %}
