{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Password Reset | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        <center>
          <p class="ProfileContent">SET A NEW PASSWORD</p>
        </center>
    </div>
    <center><a href="{% url 'IndexView' %}"><button class="btn btn-success" style="margin-top:15px;">Password was Changes successfully! Click here to Login.</button></a></center>
    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><button class="btn MainPageFooter">
        Go to Home
      </button></a>
    </div>
  </div>
{% endblock %}
