{% extends "cricket_center_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% comment %} {% extends 'cricket_center_base.html' %}


{% block other_page_content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Reset your password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Send confirmation link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% endcomment %}


{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        <center>
          <p class="ProfileContent">RESET PASSWORD</p>
        </center>
    </div>
    {% comment %} <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Send confirmation link</button>
    </form> {% endcomment %}
    <p style="margin:15px;content:justify;">We've emailed you instructions for setting your password, You should receive them shortly if an account exists with the email you entered.
If you don't receive an email, please make sure you've entered the <b>correct email address you registered with</b>, and check your <b>spam folder</b>.
</p>
    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><button class="btn MainPageFooter">
        Go to Home
      </button></a>
    </div>
  </div>
{% endblock %}
