{% extends "kabaddi_center_base.html" %}
{% load replace_with %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}
	<div class="alert alert-danger error ErrorClass" id="sub_max">
  	</div>
  	<div class="alert alert-danger error ErrorClass" id="max">
  	</div>
	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>
	<div class="MatchArea">
		<div class="TeamPreviewContainer">
			<center>
				<i class="fa fa-chevron-circle-down CloseTeamPreviewContainer"></i>
				<hr style="border-color:white;width:80%;">
			</center>
			<div class="AllPlayers">
				<center><h5 style="color:white">Defenders</h5></center>
				<div class="KeepersPreview">
				</div>
				<center><h5 style="color:white">Allrounders</h5></center>
				<div class="AllrounderPreview">
				</div>
				<center><h5 style="color:white">Raiders</h5></center>
				<div class="BatsmenPreview">
				</div>
				<div class="CaptainVicePrivew">
					<div class="PlayerView">
						<span class="PlayerNameView">Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
					<div class="PlayerView">
						<span class="PlayerNameView">Vice Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
				</div>
			</div>
		</div>
		{% if team%}
            <h1>Team created</h1>
        {% else %}
			<div class="tab CreateTeamTab">
			  <button class="tablinks active" onclick="openCity(event, 'Keepers')">Defenders</button>
			  <button class="tablinks" onclick="openCity(event, 'Allrounders')">Allrounders</button>
			  <button class="tablinks" onclick="openCity(event, 'Batsmen')">Raiders</button>
			</div>
			<form method="POST">
				<div id="Keepers" class="main_upper tabcontent" style="top:55px;">
					{% csrf_token %}
					{{ defenders_form.non_field_errors }}
		            {{ defenders_form.source.errors }}
		            {{ defenders_form.source }}
		            {% for field in defenders_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput keeper' %}
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										<span class="PlayerTeam">{{player.player_current_team}}</span> | <span class="PlayerName">{{field.label|title}}</span><br>
		            					<small class="PlayerSubInfo">
	            							Points : <span class="PlayerPoints">{{player.total_points}}</span> | Bit Credit : <span class="PlayerCredits">{{player.player_credit_points}}</span>
	            						</small>
	            					</span>
	                            	<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				    <br>
				    <br>
				</div>
				<div id="Allrounders" class="tabcontent" style="top:55px;">
			  		{% csrf_token %}
			  		{{ allrounders_form.non_field_errors }}
		            {{ allrounders_form.source.errors }}
		            {{ allrounders_form.source }}
					{% for field in allrounders_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput allrounders' %}
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										<span class="PlayerTeam">{{player.player_current_team}}</span> | <span class="PlayerName">{{field.label|title}}</span><br>
		            					<small class="PlayerSubInfo">
	            							Points : <span class="PlayerPoints">{{player.total_points}}</span> | Bit Credit : <span class="PlayerCredits">{{player.player_credit_points}}</span>
	            						</small>
	            					</span>
	                            	<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				    <br>
				    <br>
				</div>
				<div id="Batsmen" class="tabcontent" style="top:55px;">
					{% csrf_token %}
					{{ raiders_form.non_field_errors }}
		            {{ raiders_form.source.errors }}
		            {{ raiders_form.source }}
					{% for field in raiders_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput batsmen' %}
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										<span class="PlayerTeam">{{player.player_current_team}}</span> | <span class="PlayerName">{{field.label|title}}</span><br>
		            					<small class="PlayerSubInfo">
	            							Points : <span class="PlayerPoints">{{player.total_points}}</span> | Bit Credit : <span class="PlayerCredits">{{player.player_credit_points}}</span>
	            						</small>
	            					</span>
	            					<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				    <br>
				    <br><br>
				</div>
    			<input type="hidden" name="total_credits_points" value="" id="total_credits_points">
				<br>
				<div class="ButtonContainer">
				  <div class="TeamInfoClass">
				  	<div class="CreditPointsClassContainer">
				  		<center><span class="CreditPointsClass">0/100</span><br><small class="CrPlayers">CR. LEFT</small></center>
				  	</div>
				  	<div class="TotalPlayersClassContainer">
				  		<center><span class="TotalPlayersClass">0/7</span><br><small class="CrPlayers">PLAYERS</small></center>
				  	</div>
				  	<div class="TotalSelectedPlayersClassContainer">
				  		<center><span class="TotalSelectedPlayersClass"><span class="TeamOneSelected">0 </span>| <span class="TeamTwoSelected">0</span></span><br><small class="CrPlayers">&nbsp;&nbsp;<span class="TeamOneText">{{team_one}}</span> &nbsp;&nbsp;&nbsp;<span class="TeamTwoText">{{team_two}}</span></small></center>
				  	</div>
				  	<span><i class="fa fa-eye TeamPreviewClass"></i></span>
				  </div>
				  <input class="btn btn-success btn-sm CreateTeam" type="submit" name="submit" id="signup" value="Create Team" style="float:right; right:20px;">
	            </div>
			</form>


        {% endif %}
	</div>

{% endblock %}

{% block other_page_script %}
	<script src="{% static 'js/kabaddi_center/teams.js' %}"></script>
{% endblock %}


