{% extends "kabaddi_center_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Kabaddi Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>
	<div class="MatchAreaForMatch">
		<div class="PayoutDiv" id="PayoutDiv">
		  	<div class="PayoutRealDiv">
		  		<center><i class="fa fa-chevron-circle-down ClosePayoutDiv"></i>
				<div class="PayoutDivHeaderContainer">
					<h3 class="PayoutHeader">Prize break-up</h3>
				</div>
				<hr style="width:95%;border-color:#F3F4F4"></center>
				<div class="PayoutDivInfoContainer">
				</div>
				<hr style="width:95%;border-color:#F3F4F4"></center>
				<div class="PayoutDivContestTypes">
				</div>
		  	</div>
		</div>
		<div class="OwnMatchCard">
	  	    <h4 class="ContentHeaderTeams">{{match_obj.team_one}} vs {{match_obj.team_two}}<a href="{% url 'kabaddi_center:kabaddi_center' %}" style="text-decoration: none;color:#F3F4F4">[GO BACK]</a><span style="float:right">{{match_obj.match_status}}</span></h4>
	    </div>
	  <div class="ContestInfoCard">
	  	<h5 class="ContestNameOfContestInfoCard LeagueName" pay-view="{% url 'kabaddi_center:view_payout' contest_slug=contest_obj.contest_slug %}">{{contest_obj.contest_name}}<span> &nbsp;<i class="fa fa-eye" style="position:relative;top:2px;"></i></span></h5>
	  	<div class="ContestInfoHeaderContainer">
	  		<h6 class="InfoHeaderOfContestInfoCard">Fee</h6>
	  		<h6 class="InfoHeaderOfContestInfoCard">Joined</h6>
	  		<h6 class="InfoHeaderOfContestInfoCard">Prize</h6>
	  	</div>
	  	<div class="ContestInfoHeaderContainer">
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.contest_fee}}</h6>
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.total_player_joined}}/{{contest_obj.contest_size}}</h6>
	  		<h6 class="InfoOfContestInfoCard">{{contest_obj.contest_prize}}</h6>
	  	</div>
	  </div>
	  <div>
		<div class="RankingHeader">
				<h6 class="RankingHeaderRankPosition">RANK</h6>
				{% if not match_obj.live %}
					<h6 class="RankingHeaderTeam">TEAM</h6>
				{% else %}
					<h6 class="RankingHeaderTeam">TEAM</h6>
				{% endif %}
				<h6 class="RankHeaderPointsLive">POINTS</h6>
			</div>
			{% for rank in all_joined_with_ranking %}
				<div class="RankInfoCard" go-to="{% url 'kabaddi_center:ranking_team_preview' team_no=rank.joined_user_team team_name=rank.joined_user match_slug=match_obj.match_slug %}">
					{% if not match_obj.live and match_obj.history_activate %}
						<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
						<h6 class="RankingHeaderIfTeam">{{rank.joined_user|slice:":15"}}[{{rank.joined_user_team}}]</h6>
						{% if rank.rank <= contest_obj.contest_winners %}
						<h6 class="RankingHeaderStatus">Winner</h6>
						{% else %}
						<h6 class="RankingHeaderStatus"></h6>
						{% endif %}
						<h6 class="RankHeaderPointsActual">{{rank.total_team_points}}</h6>
					{% else %}
						<h6 class="RankingHeaderRankPosition">{{rank.rank}}</h6>
						<h6 class="RankingHeaderTeam">{{rank.joined_user|slice:":15"}}[{{rank.joined_user_team}}]</h6>
						<h6 class="RankHeaderPointsActual"">{{rank.total_team_points}}</h6>
					{% endif %}
				</div>
			{% endfor %}
	  </div>
  	  <div class="footer">
	    	<a href="{% url 'kabaddi_center:kabaddi_center' %}"><center><button class="btn btn-success FooterInfoLeft" style="margin-top:7px;width:96%;left:1%;">
					Go to Match Center
	    	</button></center></a>
	  	</div>
  	</div>

{% endblock %}

{% block other_page_script %}
<script src="{% static 'js/kabaddi_center/rankings.js' %}"></script>
{% endblock %}
