{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}How to Play | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        {% if submitted == '1' %}
          <div class="alert alert-success" role="alert" style="height:30px;">
            <button style="height:30px;margin-top:-14px;font-size:25px;" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center style="height:30px;margin-top:-10px;font-size:16px;"><strong>Your query has been submited!</strong></center>
          </div>
        {% else %}
          
        {% endif %}
        <center>
          <p sclass="ProfileContent">Contact Us</p>
        </center>
    </div>
    <div class="InfoConatinerOfPage">
        <p style="margin:10px;">
            We heared, You have a question! Don't worry FancyChamps has a dedicated team for your help, Because we know A question of a curious mind wants a quick answer. So just shoot them through any of the following 
            ways and we will answer you as soon as possible!           
        </p>
        <center><h5>FAQ's</h5></center>
        <p style="margin:10px;">
            Have any question, then FAQ's section is the best place to find your answers have a look at the FAQ's page. If still did'nt find your answer then contact us by using below methods. FAQ's page : <a href="{% url 'faqs' %}">FAQ</a>           
        </p>
        <center><h5>Through Mail</h5></center>
        <p style="margin:10px;">
            If our FAQ's did not helped you then, Mail us any time(24x7) you want and we will get in touch to you to solve your problem. And We will be happy to help you. Just mail us at <a href="mailto:support@fancychamps.com">support@fancychamps.com</a>            
        </p>
        <center><h5>Through Contact Form</h5></center>
        <form method="POST" class="container">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.source.errors }}
          {{ form.source }}
          
          {{ form.email.label_tag }}
          <div class="input_field"></span>         
            {% render_field form.email class="form-control" %}
          </div>
          {{ form.email.errors }}

          {{ form.mobile_no.label_tag }}
          <div class="input_field"></span>         
            {% render_field form.mobile_no class="form-control" %}
          </div>
          {{ form.mobile_no.errors }}

          {{ form.question.label_tag }}
          <div class="input_field"></span>         
            {% render_field form.question class="form-control" %}
          </div>
          {{ form.question.errors }}

          {{ form.brief_description.label_tag }}
          <div class="input_field"></span>         
            {% render_field form.brief_description class="form-control" %}
          </div>
          {{ form.brief_description.errors }}

            <center><input class="btn btn-success" type="submit" value="Submit" style="margin:10px;"></center>
        
        </form>
    </div>
    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><center><button class="btn btn-success FooterInfoLeft" style="margin-top:7px;width:96%;left:1%;">
        Go to Match Center
      </button></center></a>  	
    </div>
  </div>
{% endblock %}

{% comment %} <form method="post" action="{% url 'IndexView' %}">
          {% csrf_token %}
          {{ login_form.non_field_errors }}
          {{ login_form.source.errors }}
          {{ login_form.source }}
          {{ login_form.username.label_tag }}
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user" style="color:black;"></i></span>         
            {% render_field login_form.username class="form-control" %}
          </div>
          {{ login_form.username.errors }}

          {{ login_form.password.label_tag }}
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-key" style="color:black;"></i></span>         
            {% render_field login_form.password class="form-control" %}
          </div>
          {{ login_form.password.errors }}
          <div class="ButtonContainer">
            <input class="btn login_button" verify-login="{% url 'VerifyLoginDetail' %}" type="submit" name="submit" id="login_button" value="Login">
          </div>
        </form> {% endcomment %}