{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Offers & Promotions | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
{% endblock stylesheets %}

{% block other_page_content %}

  <div class="MainBackground">
    <div class="color-overlay">
    </div>
  </div>
  <div class="MatchAreaForMatch">
    <div class="MainPageHeader">
        <center>
          <p sclass="ProfileContent">Promotions and Offers</p>
        </center>
    </div>
    <div class="InfoConatinerOfPage">
        <img src="{% static 'images/OriginalLogo.png' %}" style="position:relative;width:50%;left:25%;">
        <center><b><h3 style="color:#F4F4F4;position:relative;top:10px;font-family: 'Open Sans';
    ">DEPOSIT &nbsp;&nbsp;OFFERS</h3></b></center>
        <div class="row">
          <div class="col-sm-12" style="position:relative;margin-top:20px;">
            <img src="{% static 'images/100promotion.jpg' %}" style="position:relative;width:80%;left:10%">
            <center><hr style="position:relative;margin-top:20px;width:80%;border-color:#F3F4F4"></center>
          </div>
          <div class="col-sm-12">
            <img src="{% static 'images/50promotion.jpg' %}" style="position:relative;width:80%;left:10%">
            <center><hr style="position:relative;margin-top:20px;width:80%;border-color:#F3F4F4"></center>
          </div>
          <div class="col-sm-12">
            <img src="{% static 'images/25promotion.jpg' %}" style="position:relative;width:80%;left:10%">
            <center><hr style="position:relative;margin-top:20px;width:80%;border-color:#F3F4F4"></center>
          </div>
          <div class="col-sm-12">
            <img src="{% static 'images/10promotion.jpg' %}" style="position:relative;width:80%;left:10%">
          </div>
        </div>
        <p>&nbsp;</p>
    </div>

    <div class="footer">
      <a href="{% url 'cricket_center:cricket_center' %}"><center><button class="btn btn-success FooterInfoLeft" style="margin-top:7px;width:96%;left:1%;">
        Go to Match Center
      </button></center></a>


    </div>
  </div>
{% endblock %}
